.contacts {
    position: absolute;
    z-index: 100;
    top: 348px;
    left: 420px;

    width: 380px;
    height: 300px;
    padding: 25px;

    background: rgba(255, 255, 255, 0.85);

    &__heading {
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 14px;
        margin-left: 17px;

        svg {
            display: inline-block;

            width: 25px;
            height: 30px;
            margin-right: 7px;

            vertical-align: middle;

            fill: #00bea4;
        }
    }

    &__item-text {
        @include roboto-font-family("medium");

        display: inline-block;

        vertical-align: middle;

        color: rgba(#455a64, 0.8);

        font-size: 16px;
    }
}
