.footer {
    background: #2f4348;

    font-size: 0;
    &__top {
        vertical-align: middle;

        border-bottom: 1px solid rgba(#ffffff, 0.1);
    }

    &__top .container, &__bottom .container {
        padding: 15px 30px;
    }

    .main-nav {
        display: inline-block;

        width: 60%;

        vertical-align: middle;
    }

    .socials-list {
        display: inline-block;

        width: 40%;

        text-align: right;
        vertical-align: middle;
    }

    .socials-list__item {
        margin-right: 7px;

        text-align: center;
    }

    &__info {
        display: inline-block;

        width: 40%;

        vertical-align: middle;
    }

    &__copyright {
        display: inline-block;

        width: 60%;

        text-align: right;
        vertical-align: middle;
    }
}