footer.footer
    .footer__top
        .container
            +navigation("main-nav--footer")
            +socials-list("socials-list--round")
    .footer__bottom
        .container
            .footer-text.footer__info Я веб-разработчик из Москвы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
            .footer-text.footer__copyright © Виктор Казаков | создано с любовью в LoftSchool | 2016

