extends ../_layout

block variables
    -var title = "Виктор Казаков | Личный сайт веб-разработчика"
    -var page = "blog"

block header
    include ../blocks/header

block content
    .blog
        .container
            .blog__contents
                ul.blog__contents-list
                    li.blog__contents-item.blog__contents-item--active
                        a.blog__contents-link Самое важное в SASS
                    li.blog__contents-item
                        a.blog__contents-link Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.blog__contents-item
                        a.blog__contents-link Самый необходимый набор Gulp плагинов
                    li.blog__contents-item
                        a.blog__contents-link Почему я выбрал Jade
            .blog__articles
                .blog-article
                    .blog-article__heading.heading.heading--medium-size.heading--align-left
                        .heading__content Самое важное в SASS
                    .blog-article__date 22 ноября 2016
                    p.blog-article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    p.blog-article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    img.blog-article__img(src = "/assets/img/code.jpg" alt="Код")
                .blog-article
                    .blog-article__heading.heading.heading--medium-size.heading--align-left
                        .heading__content Приёмы в верстке, без которых не обходится ни один сайт
                    .blog-article__date 13 ноября 2016
                    p.blog-article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    p.blog-article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    include ../blocks/footer


